<div class = "container">
  <div class = "row">
    <h4><%= @prefecture.name %></h4>
  </div>

  <div class ="row">
    <table>
      <thead>
        <tr>
          <th>ジャンル名</th>
        </tr>
      </thead>
      <tbody>
        <% @genres.each do |genre| %>
        <tr>
          <td>
            <%= link_to prefecture_path(@prefecture.id, {genre_id: genre.id}) do %>
            <%= genre.name %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class ="row">
    <% @prefecture_post_spots.each do |post_spot| %>
    <div>
      <div>
        <p><%= post_spot.comment %></p>
      </div>
      <div>
        <%= image_tag post_spot.get_spot_image(300,300) %>
      </div>
      <div>
        <p><%= post_spot.name %></p>
        <p><%= post_spot.postcode %></p>
        <p><%= post_spot.address %></p>
        <p>
          <%= link_to user_path(post_spot.user.id) do %>
            <%= post_spot.user.name %>
          <% end %>
        </p>
      </div>
    </div>
    <% end %>
  </div>
</div>

