<div class ="container">
  <div class ="row">
    <div class = "col-md-2 d-flex align-items-center justify-content-center">
      <table class = "prefecture-table table table-bordered table-hover shadow-lg">
        <thead class = "prefecture-thead">
          <tr>
            <th class = "active table-active">都道府県一覧</th>
          </tr>
        </thead>
        <tbody>
          <% @prefectures.each do |prefecture| %>
          <tr>
            <td>
              <%= link_to prefecture_path(prefecture.id) do %>
                <%= prefecture.name %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class ="album py-5">
      <div class ="container">
        <div class ="row">
          <% @post_spots.each do |post_spot| %>
          <div class ="col-md-8">
            <div class ="card mb-4">
              <div>
                <%= image_tag post_spot.get_spot_image(300,300) %>
              </div>
              <div>
                <%= post_spot.name %><br>
                <%= post_spot.comment %><br>
                <%= link_to user_path(post_spot.user.id) do %>
                  <%= post_spot.user.name %><br>
                <% end %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>