<div class ="container">
  <div class ="row">
    <div>
      <h1><%= @user.name %>のプロフィール編集</h1>

      <%= form_with model: @user, url: admin_user_path(@user.id), method: :patch do |f| %>

        <h4>画像</h4>
        <%= f.file_field :profile_image, accept: "image/*" %>

        <h4>氏名</h4>
        <%= f.text_field :name %>

        <h4>紹介文</h4>
        <%= f.text_area :introduction %><br>

        <%= link_to "戻る", admin_user_path(@user.id) %>

        <%= f.submit "変更する" %>

      <% end %>
    </div>
  </div>
</div>