<div class ="container">
  <div class ="row">
    <div class ="col-md-2">
      <div>
        <%= image_tag @user.get_profile_image(100, 100) %>
        <h4>名前:<%= @user.name %></h4>
        <h4>紹介文:<%= @user.introduction %></h4>
        <h4>
          いいね数:
          <%= link_to favorites_user_path(@user) do %>
            <%= @user.favorites.count %>
          <% end %>
        </h4>
      </div>

      <div>
        <% if @user.name != "guestuser" %>
          <%= link_to edit_user_path(@user.id) do %>
            プロフィール編集
          <% end %>
        <% end %>
      </div>
    </div>

    <div class ="album py-5">
      <div class ="container">
        <div class ="row">
          <% @post_spots.each do |post_spot| %>
          <div class ="col-md-8">
            <div class ="card mb-8">
              <div>
                <p><%= post_spot.comment %></p>
              </div>
              <div>
                <%= image_tag post_spot.get_spot_image(300,300) %>
              </div>
              <div id ="favorite_buttons_<%= post_spot.id %>">
                <%= render "public/favorites/favorites", post_spot: post_spot %>
              </div>
              <div>
                <p><%= post_spot.name %></p>
                <p><%= post_spot.postcode %></p>
                <p><%= post_spot.address %></p>
                <p><%= post_spot.user.name %></p>
              </div>

              <% if post_spot.user == current_user %>
                <%= link_to edit_post_spot_path(post_spot.id) do %>
                  編集
                <% end %>

                <%= link_to post_spot_path(post_spot.id), method: :delete do %>
                  削除
                <% end %>
              <% end %>

              <%= link_to post_spot_path(post_spot.id) do %>
                詳細
              <% end %>
            </div>

          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>